@use "../../styles/partials/mixins"as *;

.about-me {

    &__content {

        &__intro {

            h2 {
                @include h2;
            }

            p {
                font-size: 22px;
                letter-spacing: -0.8px;
                margin-bottom: 30px;
                font-weight: 500;
                color: #1e1f35;

                span {
                    color: #858585;
                }
            }
        }

        &__blocks {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media (width >=1350) {
                flex-direction: row;
            }

            &__block {
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 20px 25px;
                margin-bottom: 50px;

                @media (width >=1350) {
                    width: 33.33%;
                }

                .stat {
                    font-size: 32px;
                    letter-spacing: -1.2px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: inherit;
                }

                .heading {
                    font-size: 20px;
                    font-weight: 500;
                    color: inherit;
                    margin-bottom: 10px;
                }
            }
        }

        &__details {

            &__para1 {
                margin-bottom: 30px;
            }

            &__para2 {

                @media (width >=1350) {
                    display: flex;
                    gap: 50px;
                }

                p {
                    margin-bottom: 30px;
                }

                &__text-socials {

                    @media (width >=1350) {
                        width: 60%;
                    }

                    ul {
                        display: flex;
                        gap: 10px;

                        li {

                            a {
                                padding: 15px;
                                border: 1px solid #ddd;
                                color: #737783;
                                width: 54px;
                                height: 54px;
                                border-radius: 28px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                &:hover {
                                    background-color: lighten(#1E1F35, 80%);
                                }
                            }
                        }
                    }
                }

                &__video {
                    background: #e9eaef;
                    border: 1px solid #dbdbdb;
                    border-radius: 30px;
                    position: relative;
                    overflow: hidden;
                    height: 250px;
                    aspect-ratio: 3 / 4;

                    @media (width >=1350) {
                        width: 40%;
                    }

                    &__media {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}