@use "../../styles/partials/mixins"as *;

.contact-me {

    &__content {

        &__heading {

            h2 {
                @include h2;
                margin-bottom: 30px;
            }
        }

        &__form {
            border-radius: 30px;
            padding: 60px;
            border: 1px solid #E4E4E4;
            display: flex;
            flex-direction: column;
            gap: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            a {
                display: block;
                text-align: center;

                &>svg {
                    display: block;
                    margin: 0 auto;
                }
            }

            &__text {
                color: #6B6B6B;
                font-size: 14px;
            }

            &__email-link {
                width: fit-content;
                font-size: 18px;
                font-weight: 600;
                color: #1E1F35;
                text-decoration: underline;
                text-underline-offset: 3px;
                text-decoration-thickness: 1.5px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                label {
                    font-size: 16px;
                }

                .field-group {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                }

                .field {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    label {
                        font-size: 14px;
                        font-weight: 600;
                    }

                    input,
                    textarea {
                        width: 100%;
                        padding: 8px 16px;
                        border: 1px solid #E4E4E4;
                        border-radius: 23px;
                        font: inherit;
                    }

                    textarea {
                        resize: vertical;
                        border-radius: 16px;
                    }
                }

                .field--half {
                    width: calc(50% - 10px);
                }

                @media (width <= 767px) {
                    .field--half {
                        width: 100%;
                    }
                }

                button {
                    @include primary-cta;
                    align-self: flex-start;
                }
            }
        }
    }
}