@use "../../styles/partials/mixins"as *;

.contact-me {

    &__content {

        &__heading {

            h2 {
                @include h2;
                margin-bottom: 30px;
            }
        }

        &__form {
            border-radius: 30px;
            padding: 30px;
            border: 1px solid #E4E4E4;

            form {
                display: flex;
                gap: 20px;

                input {
                    padding: 8px 16px;
                    border: 1px solid #E4E4E4;
                    border-radius: 23px;
                    flex-grow: 1;
                }

                button {
                    @include primary-cta;
                }
            }
        }
    }
}