@use "../../styles/partials/mixins"as *;
@use "../../styles/partials/variables"as *;

.links {

    &__content {

        &__heading {

            h2 {
                @include h2;
                margin-bottom: 30px;
            }

            p {
                font-size: 22px;
                letter-spacing: -0.8px;
                margin-bottom: 30px;
                font-weight: 500;
                color: $primary-color;

                span {
                    color: #858585;
                }
            }
        }
    }
}