@use "../../styles/partials/mixins"as *;

.my-gear {

    &__content {

        &__heading {

            h2 {
                @include h2;
            }

            p {
                font-size: 22px;
                letter-spacing: -0.8px;
                margin-bottom: 30px;
                font-weight: 500;
                color: #1e1f35;

                span {
                    color: #858585;
                }
            }
        }

        &__links {

            .link {
                display: block;
                border: 1px solid #ddd;
                border-radius: 30px;
                padding: 20px;

                &__inner {
                    display: flex;
                    gap: 25px;
                    position: relative;

                    &__image {
                        width: 180px;
                        background: #E9EAEF;
                        border: 1px solid #dbdbdb;
                        border-radius: 22px;
                    }

                    &__details {

                        h2 {
                            font-size: 22px;
                            letter-spacing: -0.8px;
                            font-weight: 500;
                            color: #1e1f35;
                        }

                        p {
                            margin-bottom: 25px;
                        }

                        &__last-updated {
                            display: inline-block;
                            color: #1e1f35;
                            font-size: 12px;
                            padding: 6px 14px;
                            border: 1px solid #e4e4e4;
                            border-radius: 16px;
                            letter-spacing: normal;
                        }

                        svg {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}