@use "sass:color";
@use './variables'as *; // Adjust path as needed

// General container
@mixin container($max-width: 1350px) {
    width: 100%;
    max-width: $max-width;
    //padding: 0 20px;
    margin: 0 auto;
}

@mixin bg {
    background-color: #fff;
    border-radius: 75px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px;
    box-sizing: border-box;
    min-width: 0;

    @media (width >=1350) {
        border-radius: 40px;
    }
}

// Primary CTA
@mixin primary-cta {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: $primary-color;
    color: #fff;
    border-radius: 22px;
    font-size: 16px;

    svg {
        padding-left: 10px;
        width: 26px;
        height: auto;
    }

    &:hover {
        background-color: color.adjust($primary-color, $lightness: 15%);
        cursor: pointer;
    }
}

// Secondary CTA
@mixin secondary-cta {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: none;
    border: 1px solid $primary-color;
    color: inherit;
    border-radius: 22px;
    font-size: 16px;

    svg {
        padding-left: 10px;
        width: 26px;
        height: auto;
    }

    &:hover {
        background-color: color.adjust($primary-color, $lightness: 95%);
        cursor: pointer;
    }
}

// H2
@mixin h2 {
    font-size: 24px;
    letter-spacing: -1.2px;
    margin-bottom: 12px;
    font-weight: 500;
}
