@use "sass:color";
@use './variables'as *; // Adjust path as needed

// General container
@mixin container($max-width: 1350px) {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
}

@mixin borders {
    border: 1px solid #2d2d2d;
}

@mixin bg {
    background-color: #fff;
    border-radius: 16px;
    box-sizing: border-box;
    min-width: 0;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(4px);
    border: 1px solid #2d2d2d;

    @media (width >=1024px) {
        border-radius: 40px;
    }
}

// Primary CTA
@mixin primary-cta {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: #fff;
    color: #000;
    @include borders;
    border-radius: 22px;
    font-size: 16px;
    transition: box-shadow 0.25s ease;

    svg {
        padding-left: 10px;
        width: 26px;
        height: auto;
    }

    &:hover {
        background-color: color.adjust($primary-color, $lightness: 15%);
        cursor: pointer;
        box-shadow: 0 6px 10px rgba(149, 157, 165, 0.3);
        transition: box-shadow 0.25s ease;
    }
}

// Secondary CTA
@mixin secondary-cta {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    background-color: none;
    @include borders;
    color: inherit;
    border-radius: 22px;
    font-size: 16px;
    transition: box-shadow 0.25s ease;

    svg {
        padding-left: 10px;
        width: 26px;
        height: auto;
    }

    &:hover {
        //background-color: rgba(255, 255, 255, 0.01);
        cursor: pointer;
        box-shadow: 0 6px 10px rgba(149, 157, 165, 0.3);
        transition: box-shadow 0.25s ease;
    }
}

// H2
@mixin h2 {
    font-size: 24px;
    letter-spacing: -1.2px;
    margin-bottom: 12px;
    font-weight: 500;
}