@use './variables'as *; // Adjust path as needed

// General container
@mixin container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
}

// Primary CTA
@mixin primary-cta {
    display: flex;
    align-items: center;
    padding: 6px 18px;
    background-color: #1E1F35;
    color: #fff;
    border-radius: 22px;
    font-size: 16px;

    svg {
        padding-left: 10px;
    }

    &:hover {
        background-color: lighten(#1E1F35, 15%);
    }
}

// Secondary CTA
@mixin secondary-cta {
    display: flex;
    align-items: center;
    padding: 6px 18px;
    background-color: none;
    border: 1px solid #1E1F35;
    color: inherit;
    border-radius: 22px;
    font-size: 16px;

    svg {
        padding-left: 10px;
    }

    &:hover {
        background-color: lighten(#1E1F35, 80%);
    }
}