.navigation {

    &__inner {
        display: flex;
        flex-direction: column;

        &__profile {
            border-bottom: 2px solid #f0f0f0;
            display: flex;
            gap: 20px;
            padding-bottom: 35px;
            margin-bottom: 30px;

            &__img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-image: url('../../../public/images/headshot.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 3px solid rgba(244, 219, 16, 0.7);
                }
            }

            &__name {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: inherit;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        &__nav {
            margin-bottom: 100px;

            ul {
                list-style: none;
                margin: 0 0 30px 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    position: relative;

                    a {
                        color: #737783;
                        text-decoration: none;
                        font-weight: 500;
                        padding: 8px 16px;
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        p {
                            margin-right: auto;
                            color: inherit;
                        }

                        svg:last-child {
                            display: none;
                        }
                    }

                    &:hover {
                        background-color: lighten(#E9EAEF, 4%);
                        border-radius: 30px;

                        a {
                            color: #1E1F35;
                        }
                    }

                    &.is-active {
                        background-color: #E9EAEF;
                        border-radius: 30px;

                        a {
                            color: #1E1F35;

                            svg:last-child {
                                display: inline-block;
                            }
                        }
                    }
                }

                &.socials {

                    li {

                        &.preheading {

                            p {
                                font-size: 12px;
                                text-transform: uppercase;
                                letter-spacing: 2px;
                                padding: 8px 16px;
                                color: #1E1F35;
                            }
                        }

                        a {

                            svg:last-child {
                                display: inline-block;
                                width: 16px;
                            }
                        }
                    }
                }
            }
        }

        &__codecademy {
            text-align: center;
            font-size: 12px;

            p {
                letter-spacing: normal;
            }

            a {

                img {
                    width: 70%;
                    margin: 8px auto;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                }
            }
        }
    }
}