.navigation {

    &__inner {

        &__profile {
            border-bottom: 2px solid #f0f0f0;
            display: flex;
            gap: 20px;
            padding-bottom: 35px;
            margin-bottom: 30px;

            &__img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-image: url('../../../public/images/headshot.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 3px solid rgba(244, 219, 16, 0.7);
                }
            }

            &__name {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: inherit;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        &__nav {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 8px;

                li {
                    position: relative;
                    padding: 8px 16px;

                    a {
                        color: #1E1F35;
                        text-decoration: none;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        p {
                            margin-right: auto;
                            color: inherit;
                        }

                        svg:last-child {
                            display: none;
                        }
                    }

                    &:hover {
                        background-color: #E9EAEF;
                        border-radius: 30px;

                        a {
                            color: #1E1F35;

                            svg:last-child {
                                display: inline-block;
                            }
                        }
                    }

                    &.is-active {
                        background-color: #E9EAEF;
                        border-radius: 30px;

                        a {
                            color: #1E1F35;

                            svg:last-child {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}