.navigation {

    &__inner {

        &__profile {
            border-bottom: 2px solid #f0f0f0;
            display: flex;
            gap: 20px;
            padding-bottom: 40px;
            margin-bottom: 30px;

            &__img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background-image: url('../../../public/images/headshot.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: relative;

                &::after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 3px solid rgba(244, 219, 16, 0.7);
                }
            }

            &__name {
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    font-size: inherit;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        &__nav {

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    position: relative;

                    a {
                        text-decoration: none;
                        transition: color 0.2s;
                        display: inline-block;
                        padding: 0 30px;
                        color: #808080;

                        &:hover {
                            color: #000;
                        }

                        &.active {
                            color: #000;
                        }

                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}