/* Home page - body content */
.main-body {
    display: flex;
    gap: 48px;

    aside,
    .body-content {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px;
    }

    aside {
        width: 25%;
        padding: 40px;
        height: 915px;
    }

    .body-content {
        width: 75%;
        padding: 60px;
    }
}