/* Home page - body content */
.main-body {
    display: flex;
    gap: 48px;

    aside,
    .body-content {
        background-color: #fff;
        border-radius: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 6px 20px;
        box-sizing: border-box;
        min-width: 0;
    }

    aside {
        flex: 0 0 25%;
        padding: 40px;
        height: 915px;
    }

    .body-content {
        flex: 1 1 0;
        padding: 60px;
    }
}