@use "../../styles/partials/mixins"as *;

.downloads {

    &__content {

        &__heading {

            h2 {
                @include h2;
                margin-bottom: 30px;
            }

            p {
                font-size: 22px;
                letter-spacing: -0.8px;
                margin-bottom: 30px;
                font-weight: 500;
                color: #1e1f35;

                span {
                    color: #858585;
                }
            }
        }

        &__form {
            border-radius: 30px;
            padding: 30px;
            border: 1px solid #E4E4E4;

            p {
                margin-bottom: 20px;
            }

            form {
                display: flex;
                gap: 20px;

                input {
                    padding: 8px 16px;
                    border: 1px solid #E4E4E4;
                    border-radius: 23px;
                    flex-grow: 1;
                }

                button {
                    @include primary-cta;
                }
            }
        }
    }
}